.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.logo_img {
  background-color: #f9a826;
  width: 101px;
  height: 50px;
  border-radius: 5px;
}

.logo_txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24.5912px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #07090d;
  margin: 0;
}

.nav_tabs {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.nav_tabs a {
  text-decoration: none;
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 72px;
  letter-spacing: -0.015em;
}

.nav_buttons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hometwo-button-1 {
  box-sizing: border-box;

  /* position: absolute; */
  width: 118px;
  height: 40px;
  left: 0px;
  color: #f9a826;
  font-family: "Poppins";
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 5px;
}
.hometwo-button-2 {
  box-sizing: border-box;

  /* position: absolute; */
  width: 118px;
  height: 40px;
  left: 138px;
  font-family: "Poppins";
  color: #ffffff;
  background: #f9a826;
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 5px;
}
.hometwo-button-1:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
